<div class="card">
    <img src="{{ trick_image }}" alt="Snowboard" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">{{ trick_title }}</h5>
        <a href="#" class="btn btn-warning"><i class="bi bi-pencil"></i></a>
        <a href="#" class="btn btn-danger"><i class="bi bi-trash"></i></a>
    </div>
</div>
