<div class="card">
    <img src="{{ trick_image }}" alt="Snowboard" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">{{ trick_title }}</h5>
        <a href="#" class="btn btn-primary">Edit</a>
        <a href="#" class="btn btn-primary">Delete</a>
    </div>
</div>
