@import "~bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";
@import "trick";
@import "newTrick";
@import "login";

body {
    background-color: lightgray;
}

.hero {
    height: 90vh;

    background-image: url(https://images.unsplash.com/photo-1529669851596-ba9a5549af95?ixlib=rb-4.0.3&q=85&fm=jpg&crop=entropy&cs=srgb&dl=yann-allegre-8FG9tt8qZ-8-unsplash.jpg&w=2400);
    background-size: cover;
    background-position: center;

    #filled:hover {
        background-color: white !important;
        color: black !important;
    }

    #outlined:hover {
        background-color: #9B5DE5;
        color: white;
    }
}

.tricks_list {
    margin: 50px auto;

    .col {
        max-width: 246px;
    }

    @media screen and (max-width: 491px) {
        .row {
            justify-content: center;
        }
    }

    .card {

        .card-img-top {
            object-fit: cover;
            aspect-ratio: 16/9;
        }

        .card-title {
            a {
                color: black;
                text-decoration: none;
            }
        }
    }
}

#account .profile_picture {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.tricks_list {
    position: relative;
}

.to-trick-list-up, .to-trick-list-down {
    position: absolute;
    border-radius: 50%;
    border: none;
    font-size: 40px;
    padding: 0 10px;
    right: 5px;
    bottom: 5px;
    background: lightgray;
    color: black;
    box-shadow: 2px 2px 10px 0 #000000;
}

footer {
    background-color: white;
}
