.new_trick {

  .first_image {
    object-fit: cover;
  }

  form {
    .col.media {
      position: relative;

      display: flex;
      flex-direction: column;

      img {
        aspect-ratio: 16/9;
        object-fit: cover;
        width: 100%;

        border-radius: 5px;

        position: relative;

        &[src=""] {
          background-color: white;
        }
      }

      .embed {
        iframe {
          width: 100%;
          aspect-ratio: 16/9;
          height: 100%;
        }
      }
    }
  }

  .actions {
    display: flex;
    flex-direction: row;
    gap: 5px;

    margin-top: 10px;
    margin-left: auto;

    button {
      background-color: transparent;
      border: 1px solid black;
      border-radius: 5px;
      width: 25px;
      height: 25px;

      display: flex;
      justify-content: center;
      align-items: center;
    }

    &.actions_first_image {
      position: absolute;
      top: 0;
      right: 10px;

      button {
        background: white;
      }
    }
  }
}
