form.new_trick {
  .col.media {
    position: relative;

    display: flex;
    flex-direction: column;

    img {
      aspect-ratio: 16/9;
      object-fit: cover;
      width: 100%;

      border-radius: 5px;

      position: relative;

      &[src=""] {
        background-color: white;
      }
    }

    .actions {
      display: flex;
      flex-direction: row;
      gap: 5px;

      margin-top: 10px;
      margin-left: auto;

      button {
        background-color: transparent;
        border: 1px solid black;
        border-radius: 5px;
        width: 25px;
        height: 25px;

        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
